#P1 {
    font-weight: bold;
    font-style: italic;
    background-color: deeppink;
    height: 50px;
    width: 1000px;
    border-style: solid;
    border-color: greenyellow;
    border-width: 2px;
    border-radius: 10px;
}

#P2 {
    font-style: oblique;
    /* border-style:solid;
    border-color:greenyellow;
    border-width:2px;
    border-radius:10px; */
    /* border-style:dotted; */
    width: fit-content;
    border-bottom: 3px solid magenta;
    border-top: 3px solid magenta;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 3px solid magenta;
    border-left: 3px solid magenta;
}

#P3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: darkgreen;
    width: 500px;
    height: 100px;
    background-color: greenyellow;
    border: 5px dotted red;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

#P4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(images.jpg);
    font-weight: bold;
    color: orangered;
    background-repeat: no-repeat;
    width: 800px;
    height: 500px;
    border: 3px solid black;
    border-radius: 5px;
    background-position: bottom;

}